*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    min-width: 100%;
}

header, footer {
    background-color: grey;
}

header, .menu-list {
    display: inline-flex;
}

header img {
    width: 5em;
}

.menu {
  margin-left: auto;
  align-self: center;
}
.menu-list li {
padding: 0 5px;
}

.menu-list {
    list-style: none;
}

table{
    border: 3px solid blue;
    border-collapse: collapse;
}
th, td {
    border: 2px solid blue;
    text-align: center;
}

footer p {
    font-weight: bold;
}